html {
  font-size: 80%;
}

body{
      padding-top: 5%;
      padding-bottom: 5%;
      padding-left: 10%;
      padding-right: 10%;
      height:100vh;
  background-image: linear-gradient(to bottom right, #41b6c4,#7fcdbb);

    font-family: 'Poppins', sans-serif;
}


h1 {
    font-size: 1.5em;
    color : #1d91c0;
}
h2 {
    font-size: 1.2em;
    color : #c7e9b4;
}
h3 {
    font-size: 1em;
    color: #7fcdbb;
}
.maintitle{
    font-size: 2em;
    font-weight: 900;
}

#aa-map{
    width: 100%;
    z-index: 0;
    border-radius:30px 0 0 30px;
}

#meetings{
    max-height: 25em;
    overflow-y: scroll;
}


#rightcol{
    padding:3em;
    background-color: white;
    border-radius:0 30px 30px 0;
    box-shadow: -10px 0 10px -12px black;
}
.card{
    font-size: 80%;
    width: calc(33% - 1em);
    margin-top: 1em;
    margin-right: 1em;
}

#nextmeeting{
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 100%;
    padding-top: 2em;
    padding-bottom: 3em;
    margin-left: -15px;

}

#next{
    padding-top: 2em;
}
h1 #next{
    font-size: 2em;
}

