html {
    font-size: 100%;
}
h1 {
    font-size: 1.5rem;
    color : purple;
}
h2 {
    font-size: 1.2rem;
    color : pink;
}
h3 {
    font-size: 1.1rem;
}

/* The heart of the matter */
.testimonial-group > .row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.testimonial-group > .row > .col-xs-4 {
  flex: 0 0 auto;
  height: 60rem;
  width:25%;
  transition: .5s ease-in-out;


}

/* Decorations */
.col-xs-4 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
.col-xs-4:nth-child(5n+1) { background: #0396A6; }
.col-xs-4:nth-child(5n+2) { background: #04BFBF; }
.col-xs-4:nth-child(5n+3) { background: #D98E04; }
.col-xs-4:nth-child(5n+4) { background: #F20505; }
.col-xs-4:nth-child(5n+5) { background: #730202; }

.post{
    margin: 2rem;
    font-size: 1rem;
}