
h1 {
    font-size: 4em;
    font-weight: 900;
}
h5 {
    font-weight: 900;
}

.aacard img:hover {
    content: url(./images/aa-2.png);
}

.blogcard img:hover {
    content: url(./images/blog-2.png);
}

.tempcard img:hover {
    content: url(./images/temp-2.png);
}
body{
    font-family: 'Playfair Display', serif;

}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.card .btn{
    margin-bottom: 0.2rem;
}