html {
    padding: 10%;
    background-color: #383838;
}
.container-fluid{
    background-color: #383838;
}
h1 {
    font-size: 4em;
    color : purple;
}
h2 {
    color : pink;
}
#my_dataviz{
    text-align: center;
}
#tempreadings{
    text-align: center;
}
